# Ignore virtual environment directory
venv/

# Ignore context tool directory
context_tool/

# Ignore info directory
info/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Encrypted index file should be backed up, hence not ignored
!.deterministic_password_generator/password_indices.csv

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Python env
.env
*.env

# Coverage files
.coverage
coverage.xml

# Other
.hypothesis
totp_export.json.enc

# src

src/seedpass.egg-info/PKG-INFO
src/seedpass.egg-info/SOURCES.txt
src/seedpass.egg-info/dependency_links.txt
src/seedpass.egg-info/entry_points.txt
src/seedpass.egg-info/top_level.txt

# Allow vendored dependencies to be committed
!src/vendor/
torch/node_modules
torch/torch/
