name: Build GUI

on:
  push:
    tags:
      - 'seedpass-gui*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pip-tools briefcase
          pip-compile --generate-hashes --output-file=requirements.lock src/requirements.txt
          git diff --exit-code requirements.lock
          pip install --require-hashes -r requirements.lock
      - name: Build with Briefcase
        run: briefcase build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: seedpass-gui
          path: dist/**
